<section class="new-item">
    <h3>NEW ITEM<span>新商品</span></h3>
    <div class="item-list">
        {% for Product in NewProducts %}
            <div class="item-list__item">
                <a href="{{ url('product_detail', {'id': Product.id}) }}">
                    <div class="img">
                        <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}">
                    </div>
                    <h4 class="title">{{ Product.Shop.name|default(Product.name) }}</h4>
                    <p>{{ Product.name }}</p>
                    <div class="price">
                        {% if Product.hasProductClass %}
                            {% if Product.getPrice02Min == Product.getPrice02Max %}
                                {{ Product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ Product.getPrice02IncTaxMin|price }}
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="default-btn"><a href="{{ url('product_list') }}">商品をもっと見る</a></div>
</section>
<style>
/*    .new-item .item-list__item .img img {*/
/*        width: 100%;*/
/*        object-fit:cover;*/
/*        height: 160px;*/
/*    }*/
/*    @media(max-width: 992px) {*/
/*        .new-item .item-list__item .img img {*/
/*            height: 96px;*/
/*        }*/
/*    }*/
/*    @media(max-width: 768px) {*/
/*        .new-item .item-list__item .img img {*/
/*            height: calc(33.3333vw - 17px);*/
/*        }*/
/*    }*/
</style>