{#
* Plugin Name : CustomerRank
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% if CustomerRank %}
<div class="ec-productRole__price">
    <p>{{ CustomerRank.name }}{{ 'customerrank.common.customer_price'|trans }}</p>
    {% if Product.hasProductClass -%}
        {% if Product.getCustomerRankPriceIncTaxMin(CustomerRank.id) == Product.getCustomerRankPriceIncTaxMax(CustomerRank.id) %}
            <div class="ec-price">
                <span class="ec-price__price" id="customer_rank_price_default">{{ Product.getCustomerRankPriceIncTaxMin(CustomerRank.id)|price }}</span>
                <span class="ec-price__tax">{{ 'common.tax_include'|trans }}</span>
            </div>
        {% else %}
            <div class="ec-price">
                <span class="ec-price__price" id="customer_rank_price_default">{{ Product.getCustomerRankPriceIncTaxMin(CustomerRank.id)|price }} ～ {{ Product.getCustomerRankPriceIncTaxMax(CustomerRank.id)|price }}</span>
                <span class="ec-price__tax">{{ 'common.tax_include'|trans }}</span>
            </div>
        {% endif %}
    {% else %}
        <div class="ec-price">
            <span class="ec-price__price" id="customer_rank_price_default">{{ Product.getCustomerRankPriceIncTaxMin(CustomerRank.id)|price }}</span>
            <span class="ec-price__tax">{{ 'common.tax_include'|trans }}</span>
        </div>
    {% endif %}
</div>
{% endif %}
